# fly.toml app configuration file generated for atcoder-random-picker-be on 2025-08-18T01:08:21+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'atcoder-random-picker-be'
primary_region = 'nrt'

[build]

[env]
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  protocol = "tcp"
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
